/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.woff2") format("woff2"),
url("../fonts/flaticon.woff") format("woff"),
url("../fonts/flaticon.eot") format("embedded-opentype"),
url("../fonts/flaticon.ttf") format("truetype"),
url("../fonts/flaticon.svg") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-textile:before {
    content: "\f101";
}
.flaticon-textiles:before {
    content: "\f102";
}
.flaticon-water-resistant:before {
    content: "\f103";
}
.flaticon-moisture-wicking-fabric:before {
    content: "\f104";
}
.flaticon-fabric:before {
    content: "\f105";
}
.flaticon-textiles-1:before {
    content: "\f106";
}
.flaticon-knitting:before {
    content: "\f107";
}
.flaticon-flameproof-fabric:before {
    content: "\f108";
}
.flaticon-fabric-1:before {
    content: "\f109";
}
.flaticon-rug:before {
    content: "\f10a";
}
.flaticon-fabric-2:before {
    content: "\f10b";
}
.flaticon-textile-1:before {
    content: "\f10c";
}
.flaticon-silk:before {
    content: "\f10d";
}
.flaticon-textile-2:before {
    content: "\f10e";
}
.flaticon-iron:before {
    content: "\f10f";
}
.flaticon-print:before {
    content: "\f110";
}
.flaticon-silk-1:before {
    content: "\f111";
}
.flaticon-wool:before {
    content: "\f112";
}
.flaticon-yarn:before {
    content: "\f113";
}
.flaticon-knitting-1:before {
    content: "\f114";
}
.flaticon-wool-1:before {
    content: "\f115";
}
.flaticon-yarn-1:before {
    content: "\f116";
}
.flaticon-needlework:before {
    content: "\f117";
}
.flaticon-suit:before {
    content: "\f118";
}
.flaticon-sewing:before {
    content: "\f119";
}
.flaticon-dressmaker:before {
    content: "\f11a";
}
.flaticon-phone-call:before {
    content: "\f11b";
}
.flaticon-play:before {
    content: "\f11c";
}
.flaticon-placeholder:before {
    content: "\f11d";
}
.flaticon-email:before {
    content: "\f11e";
}
.flaticon-email-1:before {
    content: "\f11f";
}
.flaticon-botton:before {
    content: "\f120";
}
.flaticon-coat:before {
    content: "\f121";
}
.flaticon-jacket:before {
    content: "\f122";
}
.flaticon-jeans:before {
    content: "\f123";
}
.flaticon-tshirt:before {
    content: "\f124";
}
.flaticon-t-shirt:before {
    content: "\f125";
}
.flaticon-socks:before {
    content: "\f126";
}
.flaticon-sewing-machine:before {
    content: "\f127";
}
.flaticon-measuring-tape:before {
    content: "\f128";
}
.flaticon-tshirt-1:before {
    content: "\f129";
}
.flaticon-vest:before {
    content: "\f12a";
}
.flaticon-factory:before {
    content: "\f12b";
}
.flaticon-warehouse:before {
    content: "\f12c";
}
.flaticon-warehouse-1:before {
    content: "\f12d";
}
.flaticon-telephone:before {
    content: "\f12e";
}
.flaticon-telephone-1:before {
    content: "\f12f";
}
.flaticon-clock:before {
    content: "\f130";
}
.flaticon-email-2:before {
    content: "\f131";
}
.flaticon-shipped:before {
    content: "\f132";
}
.flaticon-delivery-truck:before {
    content: "\f133";
}
.flaticon-wallet:before {
    content: "\f134";
}
.flaticon-returning:before {
    content: "\f135";
}
.flaticon-chat:before {
    content: "\f136";
}
.flaticon-thread:before {
    content: "\f137";
}
.flaticon-time:before {
    content: "\f138";
}
.flaticon-star:before {
    content: "\f139";
}
.flaticon-phone-call-1:before {
    content: "\f13a";
}
.flaticon-bubble-chat:before {
    content: "\f13b";
}
.flaticon-straight-quotes:before {
    content: "\f13c";
}
.flaticon-location-pin:before {
    content: "\f13d";
}
.flaticon-phone-call-2:before {
    content: "\f13e";
}
.flaticon-customer-support:before {
    content: "\f13f";
}
.flaticon-twitter:before {
    content: "\f140";
}

